@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@1&family=The+Nautigal:wght@700&display=swap');

*{
  padding: 0;
  margin: 0;
  font-family: Cormorant Garamond;
    font-size: 24px;


}


body{
  background-image: url(https://wallpapercave.com/wp/wp2733191.jpg);
		background-attachment:fixed;
		overflow:scroll;
}

span {

    margin:15px;
    font-size:24px;
    background-color: rgba(0, 0, 0, 0.664);

    color:white;
}
p {

margin:15px;
font-size:24px;
background-color: rgba(0, 0, 0, 0.664);

 color:white;
}
h2 {
  font-size: 50px;
  position:relative;

  text-align: center;
  align-items: center;
  justify-content: center;
background-color: rgba(0, 0, 0, 0.664);

}
.background{
 margin-top: 10px;

}


h1::first-letter{
  font-size:100px;
  font-family:The Nautigal;
    background-color: rgba(0, 0, 0, 0.664);

}

h1{
color:white;
}

header .header-nav{
  float: right;
  margin-top: 15px;


}
header .header-nav a {
 color: white;
 text-decoration: none;
 font-size: 19px;
 padding: 10px 20px;
 /*background-color: rgb(68, 67, 67);*/
    background-color: rgba(0, 0, 0, 0.664);



}

.input{
font-size:24px;
color:white;
}

.R{

  font-size:100px;
  font-family:The Nautigal;
  background:none;
}

.submit{
width:120px;
 font-size:24px;


}

footer {
  position:relative;
  bottom:10px;
  font-size: 24px;
  text-align: center;
  align-items: center;
  justify-content: center;
      background-color: rgba(0, 0, 0, 0.664);
  color: white;

}

.empInfo{
    font-size:24px;
    color: white;
    text-align: center;
    position: relative;
    left: 20%;
    width: 65%;
    background-color: rgba(0, 0, 0, 0.664);

}
